.calibre {
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    adobe-hyphenate: auto;
    display: block;
    font-size: 1em;
    hyphens: auto;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -webkit-column-break-after: avoid;
    -webkit-column-break-inside: avoid;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    adobe-text-layout: optimizeSpeed;
    break-after: avoid;
    break-inside: avoid;
    display: block;
    font-size: 1.375em;
    font-variant: small-caps;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 3em 0
    }
.calibre2 {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre3 {
    display: list-item;
    font-style: italic;
    margin: 1em
    }
.calibre4 {
    display: block;
    text-indent: 1em;
    margin: 0
    }
.calibre5 {
    color: gray;
    display: block;
    height: 0;
    width: 25%;
    border-top: currentColor solid 1px;
    border-right: currentColor none medium;
    border-bottom: currentColor none medium;
    border-left: currentColor none medium;
    margin: 1.5em auto
    }
.calibre6 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    text-align: left;
    text-indent: 0;
    width: 100%;
    margin: auto
    }
.calibre7 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre8 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -webkit-column-break-after: avoid;
    -webkit-column-break-inside: avoid;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    adobe-text-layout: optimizeSpeed;
    break-after: avoid;
    break-inside: avoid;
    display: block;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 3em 0
    }
.calibre9 {
    line-height: 1.2
    }
.calibre10 {
    display: block;
    text-indent: 0;
    width: 75%;
    margin: 1em auto
    }
.calibre11 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    width: 100%;
    margin: 1em auto
    }
.calibre12 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre13 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre14 {
    display: block;
    list-style-type: decimal;
    margin: 1em 0
    }
.calibre15 {
    display: list-item
    }
.calibre16 {
    display: block;
    list-style-type: decimal;
    margin: 0
    }
.calibre17 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.epub-type-se-image-color-depth-black-on-transparent {
    background: transparent;
    display: block;
    height: auto;
    width: 100%;
    margin: 3em auto auto
    }
.epub-type-subtitle {
    display: block;
    font-size: 0.91667em;
    font-weight: normal;
    line-height: 1.2
    }
.epub-type-titlepage {
    display: block
    }
.epub-type-z3998-drama {
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    adobe-hyphenate: auto;
    border-collapse: collapse;
    display: block;
    font-size: 1em;
    hyphens: auto;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.epub-type-z3998-dramatis-personae {
    display: block;
    text-align: center
    }
.epub-type-z3998-persona {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    adobe-text-layout: optimizeSpeed;
    display: table-cell;
    font-variant: small-caps;
    hyphens: none;
    text-align: right;
    text-transform: lowercase;
    vertical-align: top;
    width: 20%;
    padding: 0 0.5em 0.5em 0
    }
.epub-type-z3998-persona1 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    adobe-text-layout: optimizeSpeed;
    display: table-cell;
    font-variant: small-caps;
    hyphens: none;
    text-align: right;
    text-transform: lowercase;
    vertical-align: top;
    width: 20%;
    padding: 0.5em 0.5em 0.5em 0
    }
.epub-type-z3998-persona2 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    adobe-text-layout: optimizeSpeed;
    display: table-cell;
    font-variant: small-caps;
    hyphens: none;
    text-align: right;
    text-transform: lowercase;
    vertical-align: top;
    width: 20%;
    padding: 0.5em 0.5em 0 0
    }
.epub-type-z3998-persona3 {
    font-variant: small-caps;
    font-weight: normal;
    text-transform: lowercase
    }
.epub-type-z3998-stage-direction {
    font-style: italic
    }
.epub-type-z3998-stage-direction1 {
    display: block;
    font-style: italic;
    text-align: center;
    text-indent: 0;
    width: 75%;
    margin: 1em auto
    }
.first-child {
    display: block;
    text-indent: 0;
    margin: 0
    }
.first-child1 {
    display: table-row;
    vertical-align: inherit
    }
.first-child2 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0 0.5em 0.5em 0
    }
.first-child3 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5em 0.5em 0.5em 0
    }
.first-child4 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5em 0.5em 0 0
    }
.last-child {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0 0 0.5em 0.5em
    }
.last-child1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5em 0 0.5em 0.5em
    }
.last-child2 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 0.5em 0 0 0.5em
    }
.pcalibre:before {
    content: "(";
    font-style: normal
    }
.pcalibre1:after {
    content: ")";
    font-style: normal
    }
