.aboutauthor {
    display: block;
    text-align: left
    }
.also {
    display: block;
    padding-top: 5%;
    text-align: left
    }
.body {
    display: block
    }
.calibre {
    display: block;
    font-family: serif;
    font-size: 1em;
    line-height: 1.2;
    oeb-column-number: 1;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 15%;
    text-align: center;
    margin: 0.67em 0
    }
.calibre3 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    margin: 0.83em 0
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 5pt;
    padding: 0
    }
.calibre6 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0
    }
.calibre7 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    color: #000;
    text-decoration: none
    }
.calibre11 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 0;
    margin: 0.83em 0
    }
.chapter {
    display: block;
    padding-top: 2em
    }
.chapterheader {
    background-color: #FFF;
    display: block;
    height: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
    border: #000 solid 1px
    }
.count {
    background-color: #FFF;
    float: left;
    font-size: 94px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: -20px;
    margin-right: 18px;
    margin-top: -14px;
    text-transform: uppercase;
    padding: 0
    }
.dropcap {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.dropcap1 {
    float: left;
    font-size: 300%;
    font-weight: bold;
    height: 1em;
    line-height: 1em;
    text-indent: 0;
    margin: -0.1em 0.125em -0.2em 0
    }
.infos {
    display: block;
    font-size: 0.75em;
    padding-top: 15%
    }
.logo {
    display: block;
    padding-top: 2%;
    text-align: left
    }
.translation {
    background-color: #FFF;
    float: left;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: -8px;
    margin-top: 38px;
    padding: 0 16px 0 5px
    }
