.block_ {
    background-color: #FFF;
    display: block;
    font-weight: bold;
    line-height: 18pt;
    text-align: justify;
    padding: 0;
    margin: 0 0 2.4pt
    }
.block_1 {
    background-color: #FFF;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 18pt;
    text-align: justify;
    text-indent: 7.8pt;
    padding: 0;
    margin: 6pt 0 2.4pt
    }
.block_2 {
    background-color: #FFF;
    display: block;
    line-height: 18pt;
    text-align: justify;
    text-indent: 7.8pt;
    padding: 0;
    margin: 6pt 0 2.4pt
    }
.block_3 {
    color: black;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 8pt
    }
.block_4 {
    background-color: #FFF;
    display: block;
    line-height: 18pt;
    text-align: justify;
    padding: 0;
    margin: 0 0 2.4pt
    }
.block_5 {
    background-color: #FFF;
    display: block;
    line-height: 18pt;
    text-align: justify;
    text-indent: 7.8pt;
    padding: 0;
    margin: 6pt 0 12pt
    }
.block_6 {
    background-color: #FFF;
    display: block;
    font-weight: bold;
    line-height: 27pt;
    text-align: justify;
    padding: 0;
    margin: 0 0 2.4pt
    }
.block_7 {
    background-color: #FFF;
    display: block;
    line-height: 27pt;
    text-align: justify;
    text-indent: 7.8pt;
    padding: 0;
    margin: 6pt 0 2.4pt
    }
.calibre {
    color: #000;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: 250pt;
    width: 344pt
    }
.calibre2 {
    height: 249pt;
    width: 386pt
    }
.calibre3 {
    height: 241pt;
    width: 403pt
    }
.calibre4 {
    height: 402pt;
    width: 291pt
    }
.calibre5 {
    height: 326pt;
    width: 367pt
    }
.calibre6 {
    height: 228pt;
    width: 294pt
    }
.calibre7 {
    height: 266pt;
    width: 358pt
    }
.calibre8 {
    height: 449pt;
    width: 335pt
    }
.calibre9 {
    height: 284pt;
    width: 348pt
    }
.calibre10 {
    height: 215pt;
    width: 361pt
    }
.calibre11 {
    height: 188pt;
    width: 366pt
    }
.calibre12 {
    height: 254pt;
    width: 356pt
    }
.calibre13 {
    height: 280pt;
    width: 346pt
    }
.calibre14 {
    height: 158pt;
    width: 357pt
    }
.calibre15 {
    height: 168pt;
    width: 364pt
    }
.calibre16 {
    height: 276pt;
    width: 346pt
    }
.calibre17 {
    height: 231pt;
    width: 350pt
    }
.calibre18 {
    height: 224pt;
    width: 316pt
    }
.calibre19 {
    height: 159pt;
    width: 363pt
    }
.calibre20 {
    height: 436pt;
    width: 351pt
    }
.calibre21 {
    height: 256pt;
    width: 348pt
    }
.calibre22 {
    height: 286pt;
    width: 363pt
    }
.calibre23 {
    height: 450pt;
    width: 326pt
    }
.calibre24 {
    height: 405pt;
    width: 362pt
    }
.calibre25 {
    height: 166pt;
    width: 250pt
    }
.calibre26 {
    height: 180pt;
    width: 362pt
    }
.calibre27 {
    height: 183pt;
    width: 256pt
    }
.calibre28 {
    height: 438pt;
    width: 297pt
    }
.calibre29 {
    height: 213pt;
    width: 366pt
    }
.calibre30 {
    height: 398pt;
    width: 354pt
    }
.calibre31 {
    height: 272pt;
    width: 364pt
    }
.calibre32 {
    height: 190pt;
    width: 358pt
    }
.calibre33 {
    height: 272pt;
    width: 351pt
    }
.calibre34 {
    height: 198pt;
    width: 356pt
    }
.calibre35 {
    height: 268pt;
    width: 348pt
    }
.calibre36 {
    height: 334pt;
    width: 279pt
    }
.calibre37 {
    height: 322pt;
    width: 357pt
    }
.calibre38 {
    height: 447pt;
    width: 309pt
    }
.calibre39 {
    height: 376pt;
    width: 297pt
    }
.calibre40 {
    height: 152pt;
    width: 356pt
    }
.calibre41 {
    height: 386pt;
    width: 267pt
    }
.calibre42 {
    height: 285pt;
    width: 350pt
    }
.calibre43 {
    height: 354pt;
    width: 346pt
    }
.calibre44 {
    height: 171pt;
    width: 369pt
    }
.calibre45 {
    height: 260pt;
    width: 315pt
    }
.calibre46 {
    height: 274pt;
    width: 372pt
    }
.calibre47 {
    height: 328pt;
    width: 364pt
    }
.calibre48 {
    height: 294pt;
    width: 369pt
    }
.calibre49 {
    height: 266pt;
    width: 279pt
    }
.calibre50 {
    height: 454pt;
    width: 308pt
    }
.calibre51 {
    height: 436pt;
    width: 303pt
    }
.calibre52 {
    height: 196pt;
    width: 362pt
    }
.calibre53 {
    height: 279pt;
    width: 368pt
    }
.calibre54 {
    height: 438pt;
    width: 309pt
    }
.calibre55 {
    height: 196pt;
    width: 356pt
    }
.calibre56 {
    height: 276pt;
    width: 357pt
    }
.calibre57 {
    height: 189pt;
    width: 366pt
    }
.calibre58 {
    height: 258pt;
    width: 363pt
    }
.calibre59 {
    height: 464pt;
    width: 378pt
    }
.calibre60 {
    height: 322pt;
    width: 368pt
    }
